* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    font-family: Arial;
    color: white;
    background-color: #2b2b2b;
}

img {
    width: 1000px;
    height: 675px;
}

.slider {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    list-style: none;
    width: 8000px;
    padding: 0;
    position: relative;
    animation: slider 35s ease infinite;
}

.slider ul li {
    float: left;
}

@keyframes slider {
    0% {
        left: 0
    }

    20% {
        left: -1000px;
    }

    35% {
        left: -2000px;
    }

    45% {
        left: -3000px;
    }

    60% {
        left: -4000px;
    }

    75% {
        left: -5000px;
    }

    90% {
        left: -6000px;
    }

    100% {
        left: -7000px;
    }

}